body{
    font-family: sans-serif;
}

p{
    color: #777;
    font-size: 13px;
}

h3{
    font-size: 14px;
}

.container{
    margin: auto 40%;
    display: flex;
    
}

.ancer{
    text-align: right;
}
img{
    width: 100%;
}
