.container{
    width: 55%;
    margin: 0 auto;
    background-color:#e5ebec;
    color: #050336;
    position: relative;
    font-family:sans-serif;
    font-size: 18px;
    margin-top: 20px;

}

span{
    position: absolute;
    top: 5px;
    background-color: blue;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 3px;
}

.container ul{
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;
}

ul, li{
    list-style-type: none;
}