body{
    background-color: #ebf0f1;
}
.wrapper{
    width: 800px;
    margin: 0 auto;
    position: absolute;
    top: 42%;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
}
.box{
    width: 60px;
    height: 60px;
    background-color: #fff;
    padding: 2rem;
    border-radius: 30%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.box i{
    transition: all 0.3s linear;
    font-size: 40px;
    padding-top: 5px;
}

.box i:hover{
    transform: scale(1.2);
    color: #fff;
}

.box::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #075ef4;
    transform: rotate(45deg);
    left: -110%;
    top: 90% ;
}

.box:hover::before{
    animation: aaa 0.7s 1;
    top: 10%;
    left: 10%;
}

@keyframes aaa{
    0%{
        left: -110%;
        top: 90% ;
    }
    50%{
        left: 10%;
        top: 30%;
    }
    100%{
        top: 10%;
        left: 10%;
    }
}



