body{
}

img{
    min-width: 100vh;
    max-width: 100vh;
    height: 100%;
}
.carousel-item{
    height: 450px;
    max-width: 100vh !important;
    min-width: 100vh;
}
.carousel{
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
