button{
    border-radius: 15px;
    border:none;
    font-size: 18px;
}

.wrapper{
    width: 1000px;
    margin: 0 auto;
    font-family: sans-serif;
    padding: 3%;
}

.tepa button{
    width: 31.3%;
    height: 80px;
}

.wrapper .tepa{
    display: flex;
    justify-content: space-around;
}


.past button{
    width: 48%;
    height: 80px;
}

.wrapper .past{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


.button1{
    background-image: linear-gradient(to right,#f2d070,#f6cb6a,#f8c46d,#f8c171,#f9b379,#faab7d, #fca384 );
    transition-duration: 1s;
}

.button1:hover{
    background-image: linear-gradient(to left,#f2d070,#f6cb6a,#f8c46d,#f8c171,#f9b379,#faab7d, #fca384 );
}
.button2{
    background-image: linear-gradient(to right,#f0c2ed, #d1c1eb,#a9c1ed);
    transition-duration: 1s;
}

.button2:hover{
    background-image: linear-gradient(to left,#f0c2ed, #d1c1eb,#a9c1ed);
}
.button3{
    background-image: linear-gradient(to right,#85f6b5,#8be8cf,#8bdce3, #8fd3f1 );
    transition-duration: 1s;
}

.button3:hover{
    background-image: linear-gradient(to left,#85f6b5,#8be8cf,#8bdce3, #8fd3f1 );
}
.hover1{
    background-image: linear-gradient(to right,#a6c9fd, #aed0fb,#b3d9fa, #bde2fc, #bfe7fb);
    transition-duration: 1s;
}

.hover1:hover{
    background-image: linear-gradient(to left,#a6c9fd, #aed0fb,#b3d9fa, #bde2fc, #bfe7fb);
}
.hover2{
    background-image: linear-gradient(to right, #ffebcd, #fee4cb, #ffdabf, #fdd4b9, #fecbb3, #fdc3ab, #fcbba3);
    transition-duration: 1s;
}

.hover2:hover{
    background-image: linear-gradient(to left, #ffebcd, #fee4cb, #ffdabf, #fdd4b9, #fecbb3, #fdc3ab, #fcbba3);
}





























