body .wrapper .card .bottom a, body .wrapper .card .card-6 .section .right .section2 a {
  text-decoration: none;
  color: #14c3a6;
  font-size: 18px;
  margin: 20px 15px;
  font-size: 14px;
  font-weight: 600; }

body .wrapper .card .top-section2 h2, body .wrapper .card .box1 .top h2, body .wrapper .card .box2 .top h2 {
  margin: 0;
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-weight: lighter; }

body .wrapper .card .top-section2, body .wrapper .card .box1 .top, body .wrapper .card .box2 .top {
  margin: 0;
  position: relative;
  height: 170px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }

body .wrapper .card .bottom2, body .wrapper .card .box1 .bottom, body .wrapper .card .box2 .bottom {
  color: #747474;
  padding: 15px; }

body {
  background-color: #eeeeee; }
  body .wrapper {
    width: 900px;
    margin: 2rem auto; }
    body .wrapper .card {
      width: 100%;
      display: flex;
      flex-wrap: wrap; }
      body .wrapper .card .card-1 {
        width: 8.3333333333%; }
    body .wrapper .card {
      width: 100%;
      display: flex; }
      body .wrapper .card .card-2 {
        width: 16.6666666666%; }
    body .wrapper .card {
      width: 100%;
      display: flex; }
      body .wrapper .card .card-3 {
        width: 25%; }
      body .wrapper .card .card-4 {
        width: 33.3333333%; }
      body .wrapper .card .card-5 {
        width: 41.66666665%; }
      body .wrapper .card .card-6 {
        width: 50%; }
      body .wrapper .card .card-7 {
        width: 58.333333333%; }
      body .wrapper .card .card-8 {
        width: 66.666666666%; }
      body .wrapper .card .card-9 {
        width: 75%; }
      body .wrapper .card .card-10 {
        width: 83.333333333%; }
      body .wrapper .card .card-11 {
        width: 91.666666663%; }
      body .wrapper .card .card-12 {
        width: 100%; }
      body .wrapper .card .card-1, body .wrapper .card .card-2, body .wrapper .card .card-4, body .wrapper .card .card-5, body .wrapper .card .card-6,
      body .wrapper .card .card-7, body .wrapper .card .card-8, body .wrapper .card .card-9, body .wrapper .card .card-10, body .wrapper .card .card-11, body .wrapper .card .card-12 {
        padding: 25px; }
      body .wrapper .card .box {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        padding: 0;
        border-radius: 3px; }
        body .wrapper .card .box .top-section {
          background-color: #009788;
          margin: 0;
          position: relative;
          height: 170px;
          border-top-right-radius: 3px;
          border-top-left-radius: 3px; }
          body .wrapper .card .box .top-section h2 {
            margin: 0;
            color: #fff;
            position: absolute;
            bottom: 10px;
            left: 15px;
            font-weight: lighter; }
        body .wrapper .card .box .middle {
          margin-top: 0;
          padding: 10px 15px;
          padding-bottom: 30px; }
          body .wrapper .card .box .middle p {
            margin: 0;
            font-size: 14px;
            color: #333; }
      body .wrapper .card .bottom {
        display: flex;
        background-color: #fff;
        margin-top: 2.5px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px; }
      body .wrapper .card .top-section2 {
        background-color: #01bbd4; }
      body .wrapper .card .bottom2 {
        text-align: right; }
        body .wrapper .card .bottom2 i {
          padding: 0 10px; }
    body .wrapper .card .card-6 {
      border-radius: 3px; }
      body .wrapper .card .card-6 .section {
        display: flex;
        margin: 0;
        padding: 0;
        border-left: 100px solid #bbbbbb; }
        body .wrapper .card .card-6 .section .right {
          padding: 10px 15px; }
          body .wrapper .card .card-6 .section .right h1 {
            color: #333;
            font-weight: lighter;
            font-size: 26px; }
          body .wrapper .card .card-6 .section .right p {
            margin-top: 5px; }
          body .wrapper .card .card-6 .section .right .hmr {
            width: 300px;
            height: 3px;
            background-color: #eeeeee; }
          body .wrapper .card .card-6 .section .right .section2 {
            margin-top: 15px; }
    body .wrapper .card .box1 .top {
      background-color: #3e50b4; }
    body .wrapper .card .box1 .bottom i {
      padding: 0 15px; }
    body .wrapper .card .box2 .top {
      background-color: #01bbd4; }
    body .wrapper .card .box2 .bottom i {
      padding: 0 15px; }

* {
  font-family: sans-serif;
  box-sizing: border-box; }

h2, h3, h1 {
  margin: 0; }

.box1 {
  padding-left: 30px;
  padding-right: 5px; }

.box2 {
  padding-right: 30px;
  padding-left: 5px; }

/*# sourceMappingURL=style.css.map */
