body{
    width: 500px;
    height: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    }


    .container1{
        background-image: url(../3-topshiriq/img/mebel/product-3.png);
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        background-size: cover;
        border: 1px solid #888;
    }
    .main-content{
        text-align: right;
        position:relative;
        bottom: -270px;
        padding: 0;
    }
    .container2{
        background-image: url(../3-topshiriq/img/mebel/product-4.png);
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        background-size: cover;
        border: 1px solid #888;
    }
    .main-content{
        text-align: right;
        position:relative;
        bottom: -270px;
        padding: 0;
    }
    .container3{
        background-image: url(../3-topshiriq/img/mebel/product-5.png);
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        background-size: cover;
        border: 1px solid #888;
    }
    .main-content{
        text-align: right;
        position:relative;
        bottom: -270px;
        padding: 0;
    }
            


