body{
    background-color: #eee;
    .box{
        background-color: #87ceea;
        margin: 7px 0px;
        height: 100px;
        padding: 0;
    }
    .jek{
        margin: 0px;
    }
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}
