$background:#eeeeee;
$box-1Color:#009788;
$box-2color:#01bbd4;
$box-3Color:#3e50b4;
$box-4Color:#bbbbbb;


*{
    font-family: sans-serif;
    box-sizing: border-box;
}

//mixin
%radius-top{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
%radius{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
%shadow{
    box-shadow: 0 3px 5px #ccc;
}
%top{
    @extend %radius-top;
    margin-bottom: 0px;
    h2{
        padding-top: 130px;
        padding-left: 15px;
        padding-bottom: 10px;
        color: #fff;
        font-size: 24px;
        font-weight: lighter;
        margin-bottom: 0;
    }
}
%paragraph{
    padding-left: 15px;
    color: #343434;
    font-size: 14px;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 10px;
}
%a{
    color: #16c7b5;
    text-decoration: none;
    font-size: 15px;
    padding-left: 15px;
    font-weight: bolder;
    align-items: center;
    display: inline-block;
    padding-top: 15px;
}
%links{
    background-color: #fff;
    @extend %radius;
    margin-top: 3.5px;
    height: 45px;
    align-items: center;
    a{
        @extend %a;
    }
}
//

body{
    background-color: $background;

    .wrapper{
        width: 750px;
        margin: 2.5rem auto;
        display: flex;
        justify-content: space-around;
        
        .card{
            

            .card-6{

                .box{
                    border-radius: 4px;
                    @extend %shadow;
                    .middle{
                        background-color: #fff;
                        margin-bottom: 0;
                        .top{
                            @extend %top;
                            background-color: $box-1Color;
                        }
                        .p{
                            p{
                            @extend %paragraph;
                            padding: 12px;
                            }
                        }
                    }
                    .links{
                        @extend %links;
                    }
                }
            }
            .card-6{
                .box1{
                    margin-top: 20px;
                    display: flex;
                    .left{
                        width: 40%;
                        background-color: $box-4Color;
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                    }
                    .right{
                        width: 100%;
                        .top1{
                            background-color: #fff;
                            width: 100%;
                            border-top-right-radius: 4px;
                            h3{
                                margin: 0;
                                font-size: 22px;
                                font-weight: lighter;
                                padding-left: 15px;
                                padding-top: 10px;
                            }
                            p{
                                margin-top: 10px;
                                color: #979595;
                                font-size: 14px;
                                padding-left: 15px;
                                padding-bottom: 35px;
                                margin-bottom: 0;
                            }
                        }
                        .bottom1{
                            margin-top: 0;
                        }
                    }
                }
            }
            .card-6{
                .box{
                    margin-top: 20px;
                    .top2{
                        background-color: #fff;
                        @extend %radius-top;
                        padding-left: 15px;
                        padding-top: 10px;
                        padding-bottom: 60px;
                        h1{
                            color: #16c7b5;
                            margin: 0;
                            padding-top: 15px;
                            padding-bottom: 10px;
                        }
                        p{
                            color: #333;
                            margin: 0;
                            padding-top: 10px;
                        }
                    }
                    .bottom2{
                        margin-top: 4px;
                    }
                }
            }
        }
        .card{
            width: 325px;
            .card-6{

                .box{

                    .top-section2{
                        @extend %top;
                        background-color: $box-2color;
                    }
                    .bottom3{
                        padding: 10px 0;
                        text-align: right;
                        background-color: #fff;
                        @extend %radius;

                        i{
                            color: #797878;
                            padding: 5px 15px;
                        }
                    }
                }
            }
            .card-6-flex{
                display: flex;
                justify-content: space-between;
                .card-3{
                    width: 48%;
                    .box{
                        .top-section{
                            background-color: $box-3Color;
                            @extend %radius-top;

                            h2{
                                padding-top: 100px;
                                padding-left: 15px;
                                padding-bottom: 10px;
                                color: #fff;
                                font-size: 24px;
                                font-weight: lighter;
                                margin-bottom: 0;
                            }
                        }                        
                        .bottom3{
                            text-align: center;
                            display: flex;
                            justify-content: space-evenly;
                            i{
                                text-align: center;
                            }
                        }
                    }
                }
                .card-3{
                    width: 48%;
                    .box{
                        .top-section5{
                            @extend %radius-top;
                            h2{
                            padding-top: 100px;
                            padding-left: 15px;
                            padding-bottom: 10px;
                            color: #fff;
                            font-size: 24px;
                            font-weight: lighter;
                            margin-bottom: 0;
                        }
                            background-color: $box-1Color;
                        }                        
                        .bottom3{
                            text-align: center;
                            display: flex;
                            justify-content: space-evenly;
                            i{
                                text-align: center;
                            }
                        }
                    }
                }
            }
            .card-6-flex{
                .card-3{

                    .box{
                        .top-box{
                            margin-bottom: 0;
                            .box-top{
                                background-color: #3e50b4;
                                @extend %radius-top;

                                h2{
                                    color: #fff;
                                    padding-top: 15px;
                                    padding-left: 15px;
                                    padding-bottom: 30px;
                                    font-style: normal;
                                    font-weight: lighter;
                                    font-size: 26px;
                                    margin: 0;
                                }

                            }
                            .box-bottom{
                                background-color: #3e50b4;
                                margin-top: 0.2px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding: 10px 0;
                                @extend %radius;

                                h6{
                                    margin: 0;
                                    padding-left: 15px;
                                    font-size: 15px;
                                    color: #fff;
                                    font-weight: lighter;
                                }
                                i{
                                    font-size: 30px;
                                    color: #fff;
                                    padding-right: 10px;
                                }
                            }

                        }
                        .bottom-box{
                            margin-top: 10px;
                            background-color: #465965;
                            border-radius: 4px;

                            h1{
                                margin: 0;
                                padding: 15px;
                                color: #fff;
                                font-weight: lighter;
                                font-size: 21px;
                            }
                        }
                    }
                }
                .card-3{
                    .box{

                        .top-boxx{
                            background-color: #36474f;
                            color: #c9c3c3;
                            @extend %radius-top;
                            h6{
                                padding-left: 15px;
                                padding-top: 10px;
                                padding-bottom: 20px;
                                margin: 0;
                            }
                            .form{
                                margin-left: 15px;

                                .input{
                                    padding: 11px 10px 11px 0;

                                    #vehicle1{
                                        background-color: #343434;
                                    }
                                }
                            }
                        }
                        .bottom-boxx{
                            margin-top: 1px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            background-color: #36474f;
                            @extend %radius;

                            h6{
                                margin: 0;
                                padding: 15px;
                                color: #c9c3c3;
                            }
                            i{
                                padding-right: 15px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }

        
    }
}

*{
    box-sizing: border-box;
}

@media screen and (max-width:474.9px) {
    
    .wrapper{
        width: 100% !important;
        flex-wrap: wrap;
    }
    .card{
        width: 100%;
        flex-wrap: wrap !important;
        
    }
    .card-6{
        width: 100% !important;
        flex-wrap: wrap;
        
    }
    .box{
        width: 100% !important;
        flex-wrap: wrap;
    }

}
@media (min-width:475px) and (max-width:775.9px) {
    
    .wrapper{
        width: 100% !important;
        flex-wrap: wrap;
    }
    .left{
        width: 100px;
        background-color: $box-4Color;
    }
    .card{
        width: 50%;
        flex-wrap: wrap !important;
        
    }
    .card-6{
        width: 100% !important;
        flex-wrap: wrap;
        
    }
    .box{
        width: 100% !important;
        flex-wrap: wrap;
    }

}
@media (min-width:776px) and (max-width:1119.9px) {
    
    .wrapper{
        width: 776px !important;
        flex-wrap: wrap;
    }
    .left{
        width: 100px;
        background-color: $box-4Color;
    }
    .card{
        width: 50%;
        flex-wrap: wrap !important;
        
    }
    .card-6{
        width: 100% !important;
        flex-wrap: wrap;
        
    }
    .box{
        width: 100% !important;
        flex-wrap: wrap;
    }

}