h1{
    font-family: sans-serif;
}

button{
    border: none;
    font-size: 35px;
    padding: 10px;
}

.container{
    padding-left: 40px;
}

.button1{
    background-image: linear-gradient(90deg , #de500e, rgb(241, 245, 134));
    margin: 0px 0px 15px 0px;
}
.button2{
    background-image: linear-gradient(to right,#d0e5ef,#2266da );
    margin: 0px 15px;
}
.button3{
    background-image: linear-gradient(to right, #c1f4b2, #1fff13);
    margin: 0px 15px;
}
.button4{
    background-image: linear-gradient(to right, #dd8ddd, #ea0db7);
    margin: 0px 15px;
}
.button5{
    background-image: linear-gradient(#c0bac2);
    margin: 0px 15px;
}

