

div{
    display: flex;
    width: 830px;
    margin: 0 auto;
    background-color: #dee9e9d1;
    font-size: 20px;
}

img{
    background-size: cover;
    width: auto;
}

li a{
    text-decoration: none;
    color: #111;
}


ul{
    display: flex;
}

li{
    list-style-type: none;
    padding: 20px;
}


